* {
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: sans-serif, "Helvetica Neue", "Helvetica", "Arial";
}
/*-------------------------- SEMANTICS */
button {
    margin: 15px;
}
details {
    background-color: blue;
    color: white;
}
main {
    background-color: black;
}
section {
    background-color: aquamarine;
}
/*---------------------------- ID */
#ipod {
    background-color: gray;
}
#ipod .connected {
    color: rgb(10, 245, 10);
}
#ipod .disconnected {
    color: red;
}
#playlist {
    background-color: aquamarine;
}

/*---------------------------- CLASSES */
.songAuthor {

}
.songGenre {

}
.songName {
    
}
